name: Calculation-Service
services:
  web:
    build: .
    ports:
      - "${PORT}:${PORT}"
    environment:
      GUNICORN_WORKERS: 2
    volumes:
      - ./:/app:cached
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "${PORT}", "--reload"]
    env_file:
      - .env