services:
  web:
    build: .
    ports:
      - "7910:7910"
    environment:
      PORT: 7910
      GUNICORN_WORKERS: 2
    volumes:
      - ./:/app:cached
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "7910", "--reload"]